# Compiled class files
*.class

# Maven - ignore the build directory
cw-db/target/

# IntelliJ IDEA specific
.idea/

# cw-db specific ignores
cw-db/databases/

# cw-stag specific ignores
cw-stag/config
cw-stag/libs
cw-stag/target

